p id=id class=role
  - if title?
      - _stack = option? 'stack'
      - _stop = local_attr 'head-stop', (_stack ? nil : '.')
      - _title = title
      - _stop = nil if _stop && (_title.end_with? _stop)
      strong.head class=('stack' if _stack) =>%(#{_title}#{_stop})
      =content
  - else
    =content
