audio(id=node.getId() src=(node.getMediaUri(node.getAttribute('target'))), loop=(node.isOption('loop') ? 'true': 'false'), preload='auto'
    data-rewind=(node.isOption('rewind') ? 'true' : 'false') data-volume=(node.isOption('muted') ? 0 : node.getAttribute('volume')))
  span.alt=node.getAttribute('alt', 'Your browser does not support the audio element.')
