- var _author = document.getAttribute('author')
- var _id = (_id = id) && title == '!' && !(getAttribute('id')) ? null : _id
section.speaker(id=_id class=(getRole()) data-title=(getAttribute('reftext')))
  header
    h2 =_author
  figure.image.headshot
    img(src=(getImageURI(document.getAttribute('avatar'))) alt=_author)
  p.contact #{document.getAttribute('twitter')} | #{document.getAttribute('email')}
